<nav class="sidebar desktop bg-light">
    <div class="sidebar-sticky">
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link" routerLink="/banner">
                    <span class="mr-3"><img class="group-icon" src="./../../assets/icons/banner.png" /></span>
                    Banner Content
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/contact">
                    <span class="mr-3"><img class="group-icon" src="./../../assets/icons/list.png" /></span>
                    Contact Content
                </a>
            </li>
            <!-- <li class="nav-item">
                <a class="nav-link" routerLink="/types">
                    <span class="mr-3"><img class="group-icon" src="./../../assets/icons/types.png" /></span>
                    Types
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/locations">
                    <span class="mr-3"><img class="group-icon" src="./../../assets/icons/locations.png" /></span>
                    Locations
                </a>
            </li> -->
        </ul>
    </div>
</nav>
