@media (min-width: 1200px) {
  .sidebar {
    width: 20vw;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .sidebar {
    width: 25vw;
  }
}
.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 10000;
  padding: 6rem 0 0;
  background-color: #fff !important;
  border-right: 1px solid #d4cece;
}

.nav-link {
  color: #000;
}
.nav-item {
  padding: 1rem 1rem 0;
}
.active {
  background-color: #e1f5fe;
  border-left: 6px solid #2196f3;
  border-radius: 0px 25px 25px 0px;
  padding: 0.5rem;
  margin: 1rem 3rem 0 0;
}
.group-icon {
  height: 19px !important;
}
